[Unit]
Description=MammothDB Distributed Execution
# We need the IP addresses set up since we pick up our Node ID based on them
Wants=network-online.target syslog.target
After=network-online.target syslog.target
StopWhenUnneeded=true

[Service]
#Type=forking
Type=notify
EnvironmentFile=/etc/mammothdb/mammothdb-env.sh
EnvironmentFile=/etc/sysconfig/mdb-dexec
User=mammothdb
Group=mammothdb
ExecStart=/usr/sbin/mdb-dexec-daemon
Restart=always
RestartSec=60
KillMode=process
TimeoutStopSec=60
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=mammothdb.target



